<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>syn car</title>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script>
		$(document).ready(function(){
			$("button").click(function(){
				$.post("166.111.66.49:8001/controlstart",
				{
					flag:"1",
					city:"Duckburg"
				},
				function(data,status){
					alert("data:" + data + "\n状态：" + status);
				});
			});
		});
	</script>
</head> 
<body bgcolor="#1685a9">
	<button>Start Experiment One</button> 
</body>
</html> 